<article class="article container-fluid">
  <h1 class="my-5">Dashboard</h1>
  <div class="admin-title">
    <h3>POSTS</h3>
    <a href="/add-post">+ Add new</a>
  </div>
  <ul class="admin-posts">
    <% data.forEach(post => { %>
    <li>
      <div class="post-content">
        <a href="/dashboard/<%= post._id %>"><%= post.title %> &nearr;</a>
        <div class="admin-button d-flex">
          <input
            class="edit-btn"
            type="submit"
            data-id="<%=post._id %>"
            value="Edit"
          />
          <form action="/delete" method="post">
            <input class="delete-btn" type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </li>

    <% }) %>
  </ul>
  <% if (hasNextPage!==null) { %>

  <a href="/dashboard?page=<%=nextPage%>" class="pagination">&lt; View Older</a>
  <% } %> <% if (hasNextPage==null) { %>
  <a href="/dashboard?page=<%=1%>" class="pagination">&lt; Go to First</a>

  <% } %>

  <div class="model-window hidden">
    <h2>EDIT POST</h2>
    <form id="edit-form" method="post" class="p-3">
      <div class="mb-5 w-25">
        <label for="title" class="form-label fs-6">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          placeholder="Enter the title"
          required
        />
      </div>
      <div class="mb-3 w-50">
        <label for="content" class="form-label fs-6">Edit Content </label>
        <textarea
          id="content"
          name="content"
          class="form-control"
          rows="5"
          placeholder="Write the content here..."
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <button class="close-btn">&times;</button>
  </div>
</article>
<div class="overlay hidden"></div>
